* {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    padding: 5px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    box-shadow: 0 3px gray;
    margin: 2px;
}


.operator, 
.digit, 
#equals,
#clearLast {
    width: 20%;
}

#clear {
    width: 70%;
}

.display {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    background-color: rgb(84, 126, 84);
    margin-bottom: 13px;
    box-shadow: 1px 1px 1px gray;
}

.calcContainer {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(175, 175, 175);
    width: 300px;
    box-shadow: 3px 3px 3px gray;
}

.buttonContainer {
    display: inline-block;
}